.category-item {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}

.category-item > p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.category-item-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  border-radius: 50%;
  background-color: var(--light-secondary-200);
  overflow: hidden;
}

.category-item-icon-container > .category-image {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

@media only screen and (min-width: 600px) {
  .category-item-icon-container {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (min-width: 700px) {
}

@media only screen and (min-width: 800px) {
  .category-item-icon-container {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (min-width: 900px) {
  .category-item-icon-container {
    width: 100px;
    height: 100px;
  }
}
