.chat-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}

.chat-page > .chat-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 7vh;

  z-index: 500;

  padding: 1rem 1.5rem;
  background-color: white;
}

.chat-page-header > .chat-page-header-left {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.chat-page-header-left > .vender-profile {
  display: flex;
  align-items: center;

  gap: 10px;
}

.vender-profile > .vendor-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  border-radius: 50%;

  overflow: hidden;
  background-color: #e0e0e0;
}

.vendor-image-container > img {
  display: flex;

  width: 35px;
  height: 35px;

  border-radius: 50%;

  object-fit: cover;
}

.chat-page-header > .chat-page-header-right {
  display: flex;
  align-items: center;
}
.chat-page-header-right > .contact-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  width: 200px;
}
.contact-menu > button {
  background: transparent;
  border: none;

  padding: 0;
}

.contact-menu > button > .fa {
  width: 25px;
  height: 25px;
}

.send-message-container {
  display: flex;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;

  gap: 1rem;

  transition: transform 0.25s ease;
  z-index: 10;
}

.send-message-container > .input-container {
  background-color: var(--light-ternary-400);

  padding: 0.5rem 1rem;
  border-radius: 20px;

  flex: 1;
}

.send-message-container > .input-container > input {
  background-color: transparent;
}

.send-message-container > .input-container > input:focus {
  outline: none;
}
