.chats-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}

.chat-page-header {
  height: 5vh;
  text-align: center;

  background-color: white;
}

.chats-page > .chats-section {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  gap: 1rem;
}

.chat-container {
  display: flex;
}

.chat-container > .vender-profile {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 100%;

  padding: 0.5rem;

  background-color: var(--light-secondary-200);
}
