.chat-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}

.chat-page > .chat-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 7vh;

  z-index: 500;

  padding: 1rem 1.5rem;
  background-color: white;
}

.chat-page-header > .chat-page-header-left {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.chat-page-header-left > .vender-profile {
  display: flex;
  align-items: center;

  gap: 10px;
}

.vender-profile > .vendor-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  border-radius: 50%;

  overflow: hidden;
  background-color: #e0e0e0;
}

.vendor-image-container > img {
  display: flex;

  width: 35px;
  height: 35px;

  border-radius: 50%;

  object-fit: cover;
}

.chat-page-header > .chat-page-header-right {
  display: flex;
  align-items: center;
}
.chat-page-header-right > .contact-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  width: 200px;
}
.contact-menu > button {
  background: transparent;
  border: none;

  padding: 0;
}

.contact-menu > button > .fa {
  width: 25px;
  height: 25px;
}

.send-message-container {
  display: flex;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;

  gap: 1rem;

  transition: transform 0.25s ease;
  z-index: 10;
}

.send-message-container > .input-container {
  background-color: var(--light-ternary-400);

  padding: 0.5rem 1rem;
  border-radius: 20px;

  flex: 1;
}

.send-message-container > .input-container > input {
  background-color: transparent;
}

.send-message-container > .input-container > input:focus {
  outline: none;
}

.chat-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  gap: 10px;
}
.chat-message {
  display: flex;

  max-width: 70%;
  padding: 10px;

  min-height: 50px;

  border-radius: 10px;
  background-color: red;

  position: relative;
}

.chat-message > .message-content {
  word-wrap: break-word;
}

.chat-message .time {
  font-size: 0.7rem;
  color: gray;
  margin-left: 10px;
  align-self: flex-end;
}

.chat-message.self {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat-message.other {
  margin-right: auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.invoice-message {
  display: flex;
  flex-direction: column;

  background-color: var(--light-ternary-400);

  gap: 5px;
  padding: 10px;

  border-radius: 8px;
}

.invoice-message button {
  align-self: flex-start;
  border: none;
  background-color: var(--light-secondary-400);

  color: white;
  padding: 5px 10px;
  border-radius: 5px;

  cursor: pointer;
}

/*Option Modal */
.option-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 10vh;
  width: 200px;

  border-radius: 10px;

  background-color: white;

  position: absolute;
  right: 10px;
  top: 58px;

  visibility: hidden;
}

.option-modal.open {
  visibility: visible;
}

.option-modal > .option-list {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 90%;

  padding: 0.2rem;

  background-color: transparent;

  gap: 10px;
}

.option-list > .option {
  display: flex;

  background-color: transparent;
}

.option-list > .option:hover {
  cursor: pointer;
}

.invoice-modal {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  min-height: 30vh;
  width: 100%;

  gap: 2rem;

  background-color: var(--light-secondary-200);

  border-radius: 10px;

  position: relative;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.invoice-modal > form {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.invoice-modal > form > input {
  display: flex;
  align-items: center;

  padding: 0.5rem;
  border-radius: 10px;
}

.invoice-modal > form > button {
  background-color: var(--light-secondary-400);
}

.invoice-modal > form > .form-group {
  display: flex;
  flex-direction: column;

  gap: 0.3rem;
}

.invoice-modal > button {
  position: absolute;
  top: 10px;
  right: 20px;
}
