.comment-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  gap: 3rem;

  padding-top: 7vh;
}

.comment-page > .comment-page-header {
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 7vh;

  z-index: 500;

  background-color: white;
}

.comment-page-header > h3 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.comment-page > .comments-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  padding: 0.5rem;
  gap: 1rem;
}
