.home-page {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  height: 100vh;
  width: 100%;

  z-index: 1000;
}

.home-page > .homepage-header {
  display: flex;
  flex-direction: column;

  align-content: flex-end;

  padding: 2rem 1.5rem;

  width: 100%;
  height: 25vh;

  background-color: var(--light-secondary-400);

  gap: 20px;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  justify-content: flex-end;
}

.header-location {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.header-location > .header-location-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-location-info > .user_selected_location {
  display: flex;
  align-items: center;

  width: 100px;

  padding: 0rem 0.2rem;

  cursor: pointer;
}

.user_selected_location > img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.homepage-header > .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-btn {
  background-color: var(--light-secondary-200);

  padding: 10px 10px;

  border-radius: 10px;
}

.homepage-header > .header-bottom {
  display: flex;
  align-items: center;
  background-color: var(--light-secondary-200);

  padding: 0rem 0.5rem;

  height: 50px;
  width: 100%;

  border-radius: 10px;
}

.header-bottom > .search-bar {
  display: flex;
  align-items: center;

  gap: 5px;

  width: 100%;
}

.search-bar > .fa {
  color: var(--light-secondary-400);
}

.search-bar > input {
  width: 100%;
  background-color: transparent;
}

/* category-section */
.category-section {
  display: flex;
  flex-direction: column;

  padding: 0rem 1.5rem;
}

.category-section > .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.section-header > div {
  color: var(--light-secondary-400);
}

.category-section > .category-list {
  display: flex;

  gap: 20px;

  margin-top: 15px;

  overflow-x: scroll;
}

/* trending-section */
.trending-section {
  display: flex;
  flex-direction: column;
}

.trending-section > .section-header {
  display: flex;
  justify-content: space-between;

  width: 100%;

  padding: 0rem 1.5rem;
}

.trending-list {
  display: flex;
  flex-direction: column;

  gap: 5px;

  margin-top: 15px;

  overflow-y: scroll;

  margin-bottom: 8rem;
}

@media only screen and (min-width: 600px) {
  .category-section > .category-list {
    gap: 20px;
  }
}

@media only screen and (min-width: 700px) {
  .home-page > .homepage-header {
    padding: 7rem 1.5rem 3rem 1.5rem;
    height: 80vh;
  }
  .category-section > .category-list {
    gap: 40px;
  }
}

@media only screen and (min-width: 800px) {
  .category-section > .category-list {
    gap: 50px;
  }
}

@media only screen and (min-width: 900px) {
  .category-section > .category-list {
    gap: 60px;
  }
}
