.navbar {
  width: 100%;
}

.nav-links {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  gap: 5px;
  background-color: white;
  z-index: 11000;
}

.nav-links li .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
  cursor: pointer;

  color: gray;
  text-decoration: none;
}

.nav-links li .nav-link p {
  margin: 0;
}

.fa {
  width: 1.2rem;
  height: 1.2rem;
}

.nav-links li .nav-link.active {
  color: var(--light-secondary-400);
}
@media only screen and (max-width: 400px) {
  .nav-links li .nav-link {
    width: 72px;
    height: 72px;
  }
}

@media only screen and (min-width: 600px) {
  .nav-links {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 700px) {
  .nav-links {
    top: 0;
    bottom: auto;
    gap: 5px;
  }
}
