.payment-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  gap: 3rem;

  padding-top: 7vh;
}

.payment-page > .payment-page-header {
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 7vh;

  z-index: 500;

  background-color: white;
}

.payment-page-header > h3 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.payment-page > .payment-methods {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1rem;

  gap: 1rem;
}

.payment-methods > .payment-method {
  display: flex;
  align-items: center;

  padding: 0.4rem 0.3rem;

  background-color: var(--light-ternary-400);

  gap: 0.5rem;
  border-radius: 100px;

  position: relative;
}

.payment-method > .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;

  overflow: hidden;

  border: 1.4px solid #b3b3b6;
}

.logo-container > .fa {
  width: 35px;
  height: 35px;

  border-radius: 50%;
  object-fit: contain;
}

.payment-method > .checkmark {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;

  border-radius: 50%;

  background-color: var(--light-secondary-400);

  position: absolute;
  right: 20px;
  animation: popIn 0.45s ease forwards;
}

.checkmark > .tick {
  width: 6px;
  height: 12px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(45deg);

  margin-bottom: 5px;
  margin-right: 2px;
}

@keyframes popIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.payment-method:hover {
  cursor: pointer;
}

.payment-method.selected {
  background-color: var(--light-secondary-200);
}

/* payment details modal section */
.payment-page > .modal-section {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 1.5rem;
}

.modal-section > .payment-modal {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  min-height: 30vh;
  width: 100%;

  gap: 2rem;

  background-color: var(--light-secondary-200);

  border-radius: 10px;

  position: relative;
}

.payment-modal > form {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.payment-modal > form > input {
  display: flex;
  align-items: center;

  padding: 0.5rem;
  border-radius: 10px;
}

.payment-modal > form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-secondary-400);
}

.payment-modal > form > .short-number-details {
  display: flex;
}

.payment-modal > form > .short-number-details > .form-group {
  display: flex;
}
.short-number-details > .form-group {
  display: flex;
  align-items: center;
  width: 100%;

  gap: 1rem;
}

.form-group > input {
  display: flex;
  align-items: center;

  padding: 0.2rem 0.5rem;

  width: 100px;
  border-radius: 10px;
}

.payment-modal > img {
  position: absolute;

  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;
}
