.product-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  padding-bottom: 1380px;
}

.product-page > .product-page-header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 7vh;

  z-index: 500;

  background-color: white;
}

.product-page-header > button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  width: 35px;
  height: 35px;

  border-radius: 50%;
}

.product-images-preview {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 65px;

  width: 100%;
  height: 350px;

  overflow: hidden;

  z-index: 300;

  background-color: red;
}

.carousel-container {
  position: relative;

  width: 100%;
  height: 350px;

  margin-top: 50px;
}

.swiper,
.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 200px;

  background-color: green;
}

.product-image {
  width: 100%;
  height: 100%;

  object-fit: contain;

  background-color: #f3f3f3;
}

/* Custom Buttons */
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  padding: 0;

  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.custom-prev:hover,
.custom-next:hover {
  transform: translateY(-50%) scale(1.1);
  background-color: #f0f0f0;
}

.custom-prev > .fa,
.custom-next > .fa {
  height: 3rem;
  width: 3rem;
}

/* Left and right positioning */
.custom-prev {
  left: 10px;
}
.custom-next {
  right: 10px;
}

/* Ensure SVG fits button perfectly */
.custom-prev svg,
.custom-next svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* Product Overview */
.product-overview {
  display: flex;
  flex-direction: column;

  gap: 10px;

  padding: 1rem 1rem;
}

.product-overview > .product-meta {
  display: flex;
  align-items: center;
  gap: 5px;

  color: grey;
}

.product-meta > p > span {
  color: gray;
}

/* vender info section */

.vendor-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 0.5rem 1rem;
}

.vendor-info > .vender-profile {
  display: flex;
  align-items: center;

  gap: 10px;
}

.vender-profile > .vendor-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  border-radius: 50%;

  overflow: hidden;
  background-color: #e0e0e0;
}

.vendor-image-container > img {
  display: flex;

  width: 45px;
  height: 45px;

  border-radius: 50%;

  object-fit: cover;
}

.vender-contact {
  display: flex;
  gap: 1.2rem;
}

.vender-contact > button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 45px;
  width: 45px;

  border-radius: 50%;
  padding: 0;
  background-color: var(--light-secondary-200);
}

.vender-contact > button .fa {
  color: var(--light-secondary-400);
}

/* product Information section */
.product-info {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 0.5rem 1rem;

  gap: 0.6rem;
}

.product-info > h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.product-info > p > span {
  text-decoration: underline;
}

/* Store Information section */

.store-info {
  display: flex;
  width: 100%;

  align-items: center;

  padding: 0.5rem 1rem;
}

.store-info > .store-container {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--light-secondary-200);

  border-radius: 10px;

  min-height: 5.5vh;

  padding: 1rem 1rem;

  gap: 1rem;

  position: relative;
}

.store-info > .store-container.expanded {
  min-height: 28vh;
}

.store-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.store-container > .store-header > .store-header-title {
  display: flex;
  gap: 0.5rem;
}

.store-container > .product-meta {
  display: flex;
  align-items: center;
}
.store-container > .product-meta > p {
  display: flex;
}

.store-container > .product-meta > .prod-location::after {
  content: "•";
  display: inline-block;
  margin: 0 0.5rem;
}

.store-container > .store-timelines {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.store-timelines > span::after {
  content: "•";
  display: inline-block;
  margin: 0 0.5rem;

  color: black;
}

.store-container > .hide-span {
  position: absolute;
  bottom: 10px;
  right: 25px;
}

/* vendor history Information */

.vendor-history-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  padding: 0.5rem 1rem;
}

.vendor-history-info > .vendor-history-container {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--light-secondary-200);

  border-radius: 10px;

  height: 45.5vh;

  padding: 1rem 1rem;

  gap: 1rem;
}

.vendor-history-container > .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.vendor-history-container > .section-header > .vender-profile {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

.vendor-history-container > .feedback-section {
  display: flex;
  flex-direction: column;
}

/* feedback section */

.feedback-section > .feedback-showcase {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  margin: 20px 0px 20px 0px;
}

.feedback-section > .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* footer styles */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;

  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: white;
}

footer > .price-container {
  display: flex;
  flex-direction: column;
}

.price-container > p {
  font-size: 1rem;
}

.price-container > p > span {
  color: inherit;
}

footer > button {
  display: flex;
  align-items: center;

  padding: 0;
  padding: 0.8rem 2rem;

  gap: 1.3rem;

  background-color: var(--light-secondary-400);
}
