.products-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  padding-bottom: 1300px;
}

.products-page > .products-page-header {
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 7vh;

  z-index: 500;

  background-color: white;
}

.products-page > .products-page-header > h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.products-page-header > button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  width: 35px;
  height: 35px;

  border-radius: 50%;
}

.products-page > .products-section {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  padding: 4rem 0rem;
}

.products-section > .products-list {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 5px;
}
