.profile-page {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  gap: 1rem;

  padding-top: 10vh;
}

.profile-page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 5vh;

  z-index: 500;

  background-color: white;
}

.profile-page > .profile-details {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 100%;

  background-color: transparent;
}

.profile-details > .user-profile {
  display: flex;
  height: 100%;
  width: 100%;

  gap: 1rem;
  padding: 0.5rem;

  background-color: transparent;

  position: relative;
}
.user-profile > .user-imge-container {
  width: 70px;
  height: 70px;
}
.user-profile > form {
  display: flex;
  width: 95%;
  gap: 0.5rem;
}

.user-profile > form > .input-container {
  display: flex;
  width: 100%;
}

.user-profile > form > .input-container > input {
  background-color: transparent;
  width: 100%;
}

.user-profile > form > .input-container > input::placeholder {
  color: black;
}

.user-img-container {
  display: flex;
}

.user-img-container > input {
  display: none;
}

.user-img-container > label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35px;
  left: 40px;

  width: 30px;
  height: 30px;

  border-radius: 50%;

  background-color: var(--light-secondary-400);

  cursor: pointer;
}

.profile-page > .general-settings {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 0.5rem;

  gap: 0.5rem;
}

.general-settings > .link-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 1rem 0rem 0.2rem;

  border-radius: 40px;
  height: 50px;

  background-color: var(--light-ternary-400);

  cursor: pointer;
}

.link-card > .link-content {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.link-content > .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  background-color: #252733;
}

.icon-container > .fa {
  color: white;
}

.link-content.logout {
  color: red;
}

.icon-container.logout {
  background-color: red;
}

.logoutIcon {
  color: red;
}

.profile-page > button {
  display: flex;
  justify-content: center;
  align-self: center;

  width: 90%;

  background-color: var(--light-secondary-400);

  position: absolute;
  bottom: 150px;
}
