.security-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 100%;

  gap: 1rem;

  padding-top: 10vh;
}

.security-page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 5vh;

  z-index: 500;

  background-color: white;
}

.security-page-header > button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  width: 35px;
  height: 35px;

  border-radius: 50%;

  position: absolute;
  left: 20px;
}

.security-page > .user-meta-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;

  gap: 1rem;
}

.user-meta-form > .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;

  border-radius: 20px;
  padding: 0.5rem;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.user-meta-form > .input-wrapper > input {
  display: flex;
  width: 80%;

  background-color: transparent;

  padding-left: 1rem;
}

.user-meta-form > button {
  background-color: var(--light-secondary-400);
}
