.sell-page {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  gap: 1rem;

  padding-top: 10vh;
}

.sell-page > .sell-page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 5vh;

  z-index: 500;

  background-color: white;
}

.sell-page > .sell-meta-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1rem;

  gap: 1rem;
}

.sell-page > .sell-meta-form > input {
  padding: 0.5rem 1rem;
  border-radius: 10px;

  height: 50px;
}

.sell-meta-form > #product-description {
  resize: none;

  height: 100px;

  overflow-y: scroll;
}

.sell-meta-form > button {
  background-color: var(--light-secondary-400);
}
