.wishlist-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 100%;

  gap: 1rem;

  padding-top: 10vh;
}

.wishlist-page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 5vh;

  z-index: 500;

  background-color: white;
}

.wishlist-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow-y: scroll;

  background-color: transparent;
}
