:root {
  --light-background-400: #fafafa;
  --light-background-200: #f7f9fa;

  --light-secondary-400: #77f067;

  --light-secondary-200: #e5fce3;

  --light-ternary-400: #e1e2e8;

  --dark-background-400: #121212;
  --dark-secondary-400: #79f069;

  --delete-background-color-400: #c98999;
  --delete-background-color-200: #fadce0;
  --gutter-grid: 10px;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

input:focus {
  outline: none;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  border: none;
  cursor: pointer;
}

.fa {
  width: 1.2rem;
  height: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > .form-control {
  display: flex;
  flex-direction: column;

  margin-top: var(--gutter-grid);
  margin-bottom: var(--gutter-grid);
}

form > .form-control > label {
  margin-top: var(--gutter-grid);
  margin-bottom: 8px;
}

form > .form-control > .input-wrapper {
  display: flex;
  align-items: center;

  padding: 9px;

  border: none;
  border-radius: 20px;

  width: 100%;

  background-color: rgb(255, 255, 255);
}

.form > .form-control > .input-wrapper > img {
  margin-left: 5px;
}

form > .form-control > .input-wrapper > input {
  margin-left: 10px;

  width: 80%;
}

form > .form-control > .input-wrapper > input:focus {
  outline: none;
}

form > .form-control > input,
button {
  padding: 13px 30px;

  border: none;
  border-radius: 20px;
}

.input-wrapper > button {
  background-color: transparent;
}
form > .form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 3px;

  width: 95%;
  padding: 5px;

  text-align: center;
}

form > .form-actions > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

form > .form-actions > div > label {
  margin-left: 10px;

  color: var(--clr-primary-text);
}

form > button {
  margin-top: 30px;

  width: 95%;

  padding: 10px;
}

input {
  border: none;
}

input[type="checkbox"] {
  accent-color: var(--clr-primary-text);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;
  background-color: var(--light-background-400);
}

body.dark-mode {
  background-color: var(--dark-background-400);
}
